    
.buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons button {
    margin: 3% auto;
    border-radius: 10px;
    width: 150px;
    height: 80px;
    font-size: 13px;
    font-weight: bold;
}

@media(min-width:430px) {
    .buttons button {
        width: 80px;
    }
    .buttons {
        flex-direction: row;
    }
}
@media(min-width: 900px) {
    .buttons button {
        width: 130px;
        height: 100px;
        font-size: 13px;
        font-weight: bold;
    }
}
@media(min-width: 1400px) {
    .counter {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}