
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 425px) {
  .App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}