.Header {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .Logo img {
    animation: App-logo-spin infinite  20s linear;
    height: 40px;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .Menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .Menu li {
    display: block;
    padding: 10px;
  }
  h2 {
    color: blue;
  }
  .Menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  .Menu li a:hover {
    color: blue;
  }
  @media (min-width: 425px) {
    .Header {
      height: 35vh;
      padding:5px;
    }
    .Menu li {
      display: inline-block;
      padding: 10px;
    }
  }  
  @media(min-width:900px) {
    .Header {
      height: 25vh;
      padding:5px;
    }
    .Menu li {
      display: inline-block;
      padding: 10px;
    }
    
    .Menu li a {
      font-size: 25px;
    } 
  }

  @media (min-width: 2000px) {
    .Logo img {
      height: 140px;
    }
    h2 {
      font-size: 60px;
    }
    .Menu li a {
      font-size: 35px;
      padding: 0px 15px; 
    } 
  }