

.board-row {
    padding: 1%;
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.status {
    padding: 7%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media(min-width: 768px) {
    .board-row {
        width: 30%;
        height: 12vh;
    }   
    .status {
        padding: 1%;
    }
}

@media(min-width: 1008px) {   
    .status {
        padding: 0px;
        font-size: 40px;
    }
}